@import 'src/styles/_index.scss';

.asset-summary-container {
  display: flex;
  height: $header-height;
  color: $primary-color;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid $primary-border-color;

  &:nth-child(2n) {
    background-color: $primary-bg-color;
  }

  &:hover {
    background-color: $hover-color;
  }

  @include mobile {
    flex-direction: column;
    height: auto;
    padding: $padding-sm;
    align-items: flex-start;

    .name,
    .pair,
    .market-cap,
    .average-last-price {
      display: flex;
      margin: $margin-xs 0;
      white-space: nowrap;

      .label {
        font-weight: bold;
        margin-right: $margin-xs;
        white-space: nowrap;
      }
    }
  }

  .label {
    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }
}
