$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);

$primary-bg-color: var(--primary-bg-color);
$secondary-bg-color: var(--secondary-bg-color);

$primary-border-color: var(--primary-border-color);
$secondary-border-color: var(--secondary-border-color);

$hover-color: #0ee3e3;

$header-color: #165184;

$success-color: #48d54e;

$error-color: #de0201;