// Paddings
$padding-xs: 8px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 28px;

// Margins
$margin-xs: 8px;
$margin-sm: 12px;
$margin-md: 16px;
$margin-lg: 24px;

// Height
$header-height: 50px;

// Borders
$border-radius: 4px;

// Position Lengths
$position-sm: 8px;
$position-md: 12px;

// Box Sizes
$box-width-lg: 450px;
$box-width-md: 300px;
$box-height: 220px;
$box-height-lg: 280px;
