@import 'src/styles/index';

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: $margin-lg;

    &__title {
      font-size: $font-size-xl;
      color: $primary-color;
      font-weight: bold;
    }
  }

  &__body {
    display: flex;
    justify-content: center;

    border: 1px solid $secondary-border-color;
    border-radius: $border-radius * 2;
    overflow: hidden;
  }
}
